.gutters{
    padding: 0 15px;
}

.title-info {
    height: 60px;
    background-color: #34B379;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.regular { 
    font-family: 'Avenir Regular';
}

.address {
    margin: 16px 0 26px;
}

.social-media {
    margin: 26px 0 15px;
}