<ng-container>

    <div #restaurantElement class="restaurant mobile"  *ngFor="let restaurant of restaurants">

        <div class="call-to-action" (click)="animate(detailsElement, restaurantElement)">
            <br-restaurant-single [restaurant]="restaurant"></br-restaurant-single>
        </div>

        <div #detailsElement class="details closed">
            <agm-map
                [latitude]="restaurant.location.lat"
                [longitude]="restaurant.location.lng"
                [zoom]="setZoom(restaurant)"
                [clickableIcons]="true"
                [scrollwheel]="false"
                [streetViewControl]="false">
            </agm-map>

            <br-restaurant-detail [restaurant]="restaurant"></br-restaurant-detail>
        </div>

    </div>

    <div class="web">
        <div class="column">
            <div #restaurantElement class="restaurant" *ngFor="let restaurant of restaurants_columnA">

                <div class="call-to-action" (click)="animate(detailsElement, restaurantElement)">
                    <br-restaurant-single [restaurant]="restaurant"></br-restaurant-single>
                </div>
        
                <div #detailsElement class="details closed">
                    <agm-map
                        [latitude]="restaurant.location.lat"
                        [longitude]="restaurant.location.lng"
                        [zoom]="setZoom(restaurant)"
                        [clickableIcons]="true"
                        [scrollwheel]="false"
                        [streetViewControl]="false">
                    </agm-map>
        
                    <br-restaurant-detail [restaurant]="restaurant"></br-restaurant-detail>
                </div>
        
            </div>
        </div>
        <div class="column">
            <div #restaurantElement class="restaurant" *ngFor="let restaurant of restaurants_columnB">

                <div class="call-to-action" (click)="animate(detailsElement, restaurantElement)">
                    <br-restaurant-single [restaurant]="restaurant"></br-restaurant-single>
                </div>
        
                <div #detailsElement class="details closed">
                    <agm-map
                        [latitude]="restaurant.location.lat"
                        [longitude]="restaurant.location.lng"
                        [zoom]="setZoom(restaurant)"
                        [clickableIcons]="true"
                        [scrollwheel]="false"
                        [streetViewControl]="false">
                    </agm-map>
        
                    <br-restaurant-detail [restaurant]="restaurant"></br-restaurant-detail>
                </div>
        
            </div>
        </div>
    </div>
    
</ng-container>